@model SAProject.Models.File

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>File</h4>

@if (!string.IsNullOrEmpty(ViewBag.Message) )
{
    <div class="alert alert-success" role="alert">
        @ViewBag.Message
    </div>
}

@if (!string.IsNullOrEmpty(ViewBag.Error))
{
    <div class="alert alert-danger" role="alert">
        @ViewBag.Error
    </div>
}

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                @Html.TextBoxFor(model => model.FileExpiry, new { type = "date" })
            </div>
  
             <div class="row">
                <div class="col-xs-6 col-sm-6 col-md-6 myDataTitle">Email</div>
                <div class="col-xs-6 col-sm-6 col-md-6">
                    @Html.TextBox("txtEmails", "", new { placeholder = "emails", id="txtEmails"})
                </div>
            </div>

            <div class="col-md-10">
                <p>Upload file</p>
                <input class="form-control" name="uploadData" id="uploadData" type="file" />
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
